{% extends 'pages/pagesbasic.html' %}
{% block content %}
<div class="container-fluid">
         <div class="row">
            <div class="col-md-4">
               <h2>
                  <a href="http://www.sfbarf.org/">SF Bay Area Renters'
                  Federation</a>
               </h2>
            </div>
            <div class="col-md-3" style="font-size: 60px;">
               <a href="http://en.wikipedia.org/wiki/Balboa_Park,_San_Francisco">B
               Park</a>
            </div>
            <div class="col-md-5">
               <h3>
                  <a
                     href="file:///home/juany/barf/files/Balboa_Park_Station_Area_Plan_v2.pdf">Balboa
                  Reservoir</a>
               </h3>
               <div style="border-style: solid; border-color: #000; padding: 10px;">
                  <p>Balboa Park was created in 1909 and built up over time.
                     Well, to a point. We're here to build it more.
                  </p>
               </div>
               <!-- end purple border -->
            </div>
         </div>
         <hr>
         <!-- col 1 -->
         <div class="col-md-9">
            <h3>Meeting May 5th</h3>
            <p>Balboa Reservoir is a 17-acre City owned site that the Mayor’s
               office has prioritized for housing. Unfortunately, the neighborhood
               is mostly single family homes, and the people there are very
               resistant to the idea of “renters” (the code word they use for poor
               people) living in the neighborhood. They also don’t like the idea of
               any large buildings or change.
            </p>
            <p>As it is currently zoned, this huge space 2 blocks from the
               Balboa Park BART and at the intersection of several transit lines
               could easily be wasted on a few hundred homes. SFBARF is pushing for
               the MAXIMUM possible transit oriented mixed income housing on this
               public site.
            </p>
            <p>THIS DEVELOPMENT IS CODE RED! The neighbors are trying their
               best to kill it or minimize it. 3500 may not be possible, but your
               involvement could make the difference between 400 and 1000, 2000, or
               3000.
            </p>
            <p>If you live in Southwestern San Francisco, or anywhere near
               the Balboa Park BART, and want your kids to be able to live in the
               city one day, it is critical that you make your voice heard at this
               meeting.
            </p>
            <h3>Required Reading (or just skim it)</h3>
            <dl class="dl-horizontal">
               <dt>
                  <a href="../images/BPark_workshop_flyer.pdf">Site Study
                  Flowchart</a>
               </dt>
               <dd>SEE THIS FOR THE HIGH LEVEL FLOW</dd>
               <dt>
                  <a href="../files/Balboa_Park_Station_Area_Plan_v2.pdf">Area
                  Plan</a>
               </dt>
               <dd>The official public document detailing BR's intended
                  future.
               </dd>
               <dt>
                  <a href="../files/balboareservoir_MeetingMemo-012115.pdf">Meeting
                  Results</a>
               </dt>
               <dd>Read the "What We Learned Section" for a fast update.</dd>
               <dt>
                  <a href="https://groups.google.com/forum/#!forum/balboa-reservoir">Discussion
                  Group</a>
               </dt>
               <dd>Neighborhood people, SF Planning and SFBARF are on this.</dd>
            </dl>
            <hr>
            <h3>Concept Housing</h3>
            <p name="May5">This 3,500 unit concept is inspired by the hills
               of SF. The buildings range from 7 to 21 floors, with a border of
               3-story townhouses where they meet the existing houses at the west.
               Green roofs are connected by bridges. 1st floor is retail space.
            </p>
            <p>The unit mix is 40% family (2BR-4BR), 30% senior (studios and
               1BR), 20% standard (studios-2BR), and 10% microunit (300 sf studios)
               Average unit size is 733 square feet.
            </p>
            <p>
               Want to view it from a different angle? Download the <a
                  href="https://3dwarehouse.sketchup.com/model.html?id=u4ae37ea1-ab3d-4e2b-95d2-2c48b8391c81">3D
               model</a>.
            </p>
            <p>
               <a href='../images/balboa-reservoir-3500-aerial-nw-text.jpg '> <img
                  src='../images/balboa-reservoir-3500-aerial-nw-text.small.jpg'
                  alt='oops'></a>
            </p>
            <p>
               Most floors have access to roof decks or courtyards cut out of the
               building. <a href='../images/balboa-reservoir-3500-el-s.jpg'><img
                  src='../images/balboa-reservoir-3500-el-s.small.jpg' alt='oops'></a>
            </p>
            <p>
               The view from outside is similar to looking at a hill with houses on
               it. <a href='../images/balboa-reservoir-3500-el-w-text.jpg'><img
                  src='../images/balboa-reservoir-3500-el-w-text.small.jpg'
                  alt='oops'></a>
            </p>
            <p>
               Most of the buildings have an efficient 60'x220' or 60'x150' floor
               plan. <a href='../images/balboa-reservoir-3500-axon-text.jpg'><img
                  src='../images/balboa-reservoir-3500-axon-text.small.jpg'
                  alt='oops'></a>
            </p>
         </div>
  {% include 'pages/pagesnav.html' %}
  </div>
{% endblock content %}