{% extends 'pages/pagesbasic.html' %}
{% block content %}
<div class="container-fluid">
         <div class="row">
            <div class="col-md-4">
               <h2>
                  <a href="http://www.sfbarf.org/">SF Bay Area Renters'
                  Federation</a>
               </h2>
            </div>
            <div class="col-md-3" style="font-size: 60px;">
               <a href="http://en.wikipedia.org/wiki/Berkeley,_California">BERKELEY</a>
            </div>
            <div class="col-md-5">
               <h3>What's Happening, Berkeley?</h3>
               <div style="border-style: solid; border-color: #000; padding: 10px;">
                  <p>The latest in the Berkeley housing front. SFBARF's Berkeley
                     subcommittee meets every Saturday, 11AM at Royal Ground Coffee.
                  </p>
               </div>
            </div>
         </div>
         <hr>
         <!-- col 1 -->
         <div class="col-md-4">
            <div style="border-style: solid; border-color: #60c; padding: 4px;">
               <h3 style="margin-top: 0px; margin-bottom: 0px;">BERKELEY!</h3>
               <p>
                  The Berkeley area group focuses on Berkeley. Be a part of the
                  cause.<a
                     href="https://groups.google.com/forum/#!forum/sfbarentersfed-berkeley">
                  Read the archives</a>.
               <form
                  action="https://groups.google.com/forum/#!forum/sfbarentersfed/join">
                  <input type="submit" value="Join Discussion Now">
               </form>
            </div>
         </div>
         <!-- col 2 -->
         <div class="col-md-4">
            <h3>
               <a
                  href="https://groups.google.com/forum/#!forum/sfbarentersfed-berkeley">Google
               Group</a>
            </h3>
         </div>
         <!-- open column 3-->
         <div class="col-md-3">
            <div class="panel-group" id="nav-top-level">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#nav-top-level"
                           href="#collapseOne"> By Region </a>
                     </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                     <div class="panel-body">
                        <ul class="list-unstyled">
                           <li><a href="index.html">Home</a></li>
                           <li><a href="california.html">Golden State</a></li>
                           <li><a href="berkeley.html">Berkeley</a></li>
                           <li><a href="balboa_reservoir.html">Balboa Reservoir</a></li>
                           <li><a href="oakland.html">Oakland</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#nav-top-level"
                           href="#collapseTwo"> Infos </a>
                     </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                     <div class="panel-body">
                        <ul class="list-unstyled">
                           <li><a href="videos.html">Videos of Testimony</a></li>
                           <li><a href="background.html">Background Reading</a></li>
                           <li><a href="http://sfbarf.tumblr.com/tagged/cards">Event
                              Cards</a>
                           </li>
                           <li><a href="http://www.reddit.com/r/SFBARF/wiki/index">Talking
                              Points</a>
                           </li>
                           <li><a href="http://sfdbi.org/housing-unit-production">SF
                              Recently Completed (map)</a>
                           </li>
                           <li><a href="http://www.sfbarf.org/pages/S_B.html">Balboa
                              reservoir</a>
                           </li>
                           <li><a href="pictures.html">Pictures</a></li>
                           <li><a href="https://sheltered-meadow-6729.herokuapp.com/">Units
                              in Limbo</a>
                           </li>
                           <li><a href="yimbies.html">Yimbies</a></li>
                        </ul>
                        <!-- Inner accordion ends here -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- close column 3-->
  {% include 'pages/pagesnav.html' %}
</div>
{% endblock content %}