{% extends 'pages/pagesbasic.html' %}
{% block content %}
<div class="container-fluid">
         <div class="row">
            <div class="col-md-4">
               <h2>
                  <a href="http://www.sfbarf.org/">SF Bay Area Renters'
                  Federation</a>
               </h2>
            </div>
            <div class="col-md-3" style="font-size: 60px;">
               <a href="http://en.wikipedia.org/wiki/Berkeley,_California">BERKELEY</a>
            </div>
            <div class="col-md-5">
               <h3>What's Happening, Berkeley?</h3>
               <div style="border-style: solid; border-color: #000; padding: 10px;">
                  <p>The latest in the Berkeley housing front. SFBARF's Berkeley
                     subcommittee meets every Saturday, 11AM at Royal Ground Coffee.
                  </p>
               </div>
            </div>
         </div>
         <hr>
         <!-- col 1 -->
         <div class="col-md-4">
            <div style="border-style: solid; border-color: #60c; padding: 4px;">
               <h3 style="margin-top: 0px; margin-bottom: 0px;">BERKELEY!</h3>
               <p>
                  The Berkeley area group focuses on Berkeley. Be a part of the
                  cause.<a
                     href="https://groups.google.com/forum/#!forum/sfbarentersfed-berkeley">
                  Read the archives</a>.
               <form
                  action="https://groups.google.com/forum/#!forum/sfbarentersfed/join">
                  <input type="submit" value="Join Discussion Now">
               </form>
            </div>
         </div>
         <!-- col 2 -->
         <div class="col-md-4">
            <h3>
               <a
                  href="https://groups.google.com/forum/#!forum/sfbarentersfed-berkeley">Google
               Group</a>
            </h3>
         </div>
  {% include 'pages/pagesnav.html' %}
</div>
{% endblock content %}