{% extends 'pages/pagesbasic.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2>
        <a href="http://www.sfbarf.org/">SF Bay Area Renters'
          Federation</a>
      </h2>
    </div>
    <div class="col-md-3" style="font-size: 60px;">
      <a href="http://en.wikipedia.org/wiki/California">THE STATE</a>
    </div>
    <div class="col-md-5">
      <h3>What's Here</h3>

      <div style="border-style: solid; border-color: #000; padding: 10px;">
        <p>Here you can find information on what's happening at the
          state and regional level.
        </p>
      </div>
      <!-- end purple border -->
    </div>
  </div>
  <hr>
  <!-- col 1 -->
  <div class="col-md-4">
    <h3>To Read</h3>
    <ul class="list-unstyled">
      <li>
        <hr>
        <p>
          <a href="../files/Balboa_Park_Station_Area_Plan_v2.pdf">This</a> file represents the current area plan for
          Balboa Park Station. It represents years of planning work and
          input from San Franciscans. Find out how it affects you
        <hr>
        </p>
      </li>
      <li><a href="../files/Ehrenhalt_GreatInversion_Chicago.pdf">The
        Great Inversion</a>
      </li>
      <li><a href="../files/BIA_comments.docx"
             alt="BIA comments on San Jose Housing Element">BIA comments on
        San Jose Housing Element</a>
      </li>
      <li><a href="../files/BIABA_Settlement.pdf"
             alt="BIABA Settlement">BIABA Settlement</a></li>
      <li><a href="../files/dft_comments.pdf" alt="Comments on DFT">Comments
        on DFT</a>
      </li>
      <li><a href="../files/emeryville_moratorium.pdf"
             alt="Emeryville Moratorium">Emeryville Moratorium</a></li>
      <li><a href="../files/Fremont_letter.pdf"
             alt="Fremont City Council Letter">Fremont City Council Letter</a></li>
      <li><a href="../files/LAO.pdf" alt="LAO Housing Report">LAO
        Housing Cost Report</a>
      </li>
      <li><a href="../files/los_policy.pdf"
             alt="Level of Service Policy">Level of Service Policy, 5-3</a></li>
      <li><a href="../files/mayors_memo.pdf" alt="Mayor's Memo">Mayor's
        Memo Urban Village Clarification</a>
      </li>
      <li><a href="../files/pbac.pdf" alt="Plan Bay Area Complaint">Plan
        Bay Area Complaint</a>
      </li>
      <li><a href="../files/sj_conversion_framework.pdf"
             alt="San Jose Conversion Framework">San Jose Conversion
        Framework</a>
      </li>
    </ul>
  </div>
  <!-- column 2 -->
  <div class="col-md-5">
    <img src="../images/ILoveYouCalif.jpg"
         alt="I Love You California.jpg">
  </div>
  <!-- end column 2 -->
  {% include 'pages/pagesnav.html' %}
</div>
{% endblock content %}