{% extends 'base/basic.html' %}

{% block content %}
<body>
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-4">
               <h2>SF Bay Area Renters' Federation</h2>
            </div>
            <div class="col-md-3" style="font-size: 60px;">
               <a href="https://gratipay.com/SFBayAreaRentersFed/">SFBARF</a><br>
               <script data-gratipay-username="SFBayAreaRentersFed"
                  src="//grtp.co/v1.js"></script>
            </div>
            <div class="col-md-5">
               <h3>Mission</h3>
               <div style="border-style: solid; border-color: #000; padding: 10px;">
                  <p>SFBARF are people who believe SF's housing crisis can be
                     mitigated by increasing the housing supply. We organize renters to
                     testify in favor of new building projects at neighborhood meetings
                     and hearings.
                  </p>
               </div>
               <!-- end purple border -->
            </div>
         </div>
         <hr>
         <div class="col-md-1"></div>
         <div class="col-md-3">
            <a href="https://github.com/sfbarf">Fork me on github</a>
         </div>
         <div class="col-md-1">
            <a
               href="http://www.meetup.com/SF-Renters-Fed-Testify-for-density-at-Planning-Commission/">Meetup
            group</a>
         </div>
         <div class="col-md-1">
            <a href="https://groups.google.com/forum/#!forum/sfbarentersfed">Google
            group</a>
         </div>
         <div class="col-md-1">
            <a href="https://twitter.com/SFyimby">TWITTER</a>
         </div>
         <div class="col-md-1">
            <a href="https://www.facebook.com/BARentersFed">FB</a>
         </div>
         <div class="col-md-2">
            Ask a question: <a href="sonja.trauss@gmail.com">sonja.trauss@gmail.com</a>
         </div>
         <div class="col-md-2">
            <a href="http://sfbarf.tumblr.com">Tumblr</a>
         </div>
         <!--spacer-->
         <div class="col-md-12" style="height: 20px"></div>
         <!-- open column 1 -->
         <div class="col-md-4">
            <!-- close purple border -->
            <div style="border-style: solid; border-color: #60c; padding: 4px;">
               <h3 style="margin-top: 0px; margin-bottom: 0px;">JOIN!</h3>
               <p>
                  Our mailing list is on Google Groups so you can <a
                     href="https://groups.google.com/forum/#!forum/sfbarentersfed">read
                  the archives</a>. <br> The email traffic is heavy on the discuss
                  list.
               <form
                  action="https://groups.google.com/forum/#!forum/sfbarentersfed/join">
                  <input type="submit" value="Join Discussion Now">
               </form>
               <br> For a lighter list, join announce only:
               <form
                  action="https://groups.google.com/forum/#!forum/sfbarentersfed-announce/join">
                  <input type="submit" value="Join Announcements Now">
               </form>
               <p></p>
            </div>
            <!-- spacer -->
            <div style="height: 20px"></div>
            <iframe
               src="https://www.google.com/calendar/embed?title=SF%20Bay%20Area%20Renters&#39;%20Federation&amp;showTabs=0&amp;mode=AGENDA&amp;height=328&amp;wkst=2&amp;bgcolor=%23ffcc66&amp;src=p23s0drbi1egpms6goc48rpp6k%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FLos_Angeles"
               style="border-width: 0" width="100%" height="328" frameborder="0"
               scrolling="no"></iframe>
            <p>
               <span style="text-align: center;"><a
                  href="https://www.google.com/calendar/embed?src=p23s0drbi1egpms6goc48rpp6k%40group.calendar.google.com&ctz=America/Los_Angeles">/////Link
               to Calendar\\\\\</a>
            </p>
         </div>
         <!--close column 1 -->
         <!--open column 2 -->
         <div class="col-md-4">
            <h2>Upcoming</h2>
            <hr>
            <h3>+++ATTENTION+++</h3>
            <h3>BALBOA RESERVOIR</h3>
            <h4>
               <a href="pages/balboa_reservoir.html">Community Workshop</a>
            </h4>
            <p>Tue, May 5, 6pm – 8pm</p>
            <p>City College, Multi-Use Building
               55 Phelan Avenue
               First Floor, Room 140
               (west side of Phelan, between Ocean and Judson)
            </p>
            <p>The City of San Francisco is proposing a housing development
               with a large open space on the site as part of the Public Land for
               Housing program. Join the SF Planning Department at the second
               public workshop to share your opinion on public amenities which
               could best serve the community’s needs.
            </p>
            <p>The site study flowchart outlines the stages of the process.
               At each step there's an opportunity to get involved or merely
               satisfy your civic curiosity.
            </p>
            <h5>
               <a href="pages/balboa_reservoir.html">CLICK FOR DETAILS</a>
            </h5>
            <h3>+++ATTENTION+++</h3>
            <hr>
            <h3>Also Occurring</h3>
            <h2>PBAP && PBAWK</h2>
            <p>
               April 29<br> Plan Bay Area Pleasanton @ 7PM<br> Plan Bay
               Area Walknut Creek @ 7PM
            </p>
            <p>
               <a
                  href="http://content.govdelivery.com/accounts/CAMTC/bulletins/ff32b4">click
               for details</a>
            </p>
            <p>Plan Bay Area is where the Regional Housing Needs Allocation
               numbers come from. Last round they underestimated housing needs in
               SF (and all over). Give public input not to underestimate housing
               needs this round.
            </p>
            <p>Info available from info@planbayarea.org</p>
            <hr>
            <h3>SUPPORT THE E. 12TH & 2ND PROJECT</h3>
            <h4>May 5, 5:30PM</h4>
            <h4>City Council Chamber, 3rd Floor, Oakland City Hall, Oakland City Hall</h4>
            <p>Oakland is proposing to sell publicly owned land to UrbanCore
               Development, LLC which they will use to create 300 new housing
               units. Median rent will be $3000, well below San Francisco average.
            </p>
            <p>The project has many benefits, including 209 dedicated parking spaces, along with parking for over 100 bikes on
               site in an enclosed secure garage. Additionally, it will REDUCE gentrification by absorbing incoming tenants
            </p>
            <p>It's item 13, on
               <span class="highlight"><a
                  href="https://oakland.legistar.com/MeetingDetail.aspx?ID=395143&GUID=A2785149-D0E4-425D-9B91-6277D652D932&Options=info%7C&Search=">this
               here</a></span>
               agenda, so time your arrival accordingly.
            </p>
            <p>See the petition for more information</p>
            <p>
               <a
                  href="https://www.change.org/p/oakland-city-planning-commission-support-increase-housing-supply-and-the-growth-of-oakland-s-economy?recruiter=247625681&utm_source=share_petition&utm_medium=email&utm_campaign=share_email_responsive">clicky</a>
            </p>
            <!-- close column 2  -->
         </div>

      {% include 'mainnav.html' %}

      </div>

   {% include 'scripts.html' %}

   </body>
{% endblock content %}