{% extends 'pages/pagesbasic.html' %}
{% block content %}
<div class="container-fluid">
     <div class="row">
            <div class="col-md-4">
               <h2>
                  <a href="http://www.sfbarf.org/">SF Bay Area Renters'
                  Federation</a>
               </h2>
            </div>
            <div class="col-md-3" style="font-size: 60px;">
               <a href="http://en.wikipedia.org/wiki/California">LAWS</a>
            </div>
            <div class="col-md-5">
               <h3>Legislation</h3>
               <div style="border-style: solid; border-color: #000; padding: 10px;">
                  <p>Here is the corner for all the relevent laws concerning housing in California, and especially the Bay Area.</p>
               </div>
               <!-- end purple border -->
            </div>
         </div>
         <hr>
 {% include 'pages/pagesnav.html' %}
</div>
{% endblock content %}
