{% extends 'pages/pagesbasic.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h2>
        <a href="http://www.sfbarf.org/">SF Bay Area Renters'
          Federation</a>
      </h2>
    </div>
    <div class="col-md-4" style="font-size: 60px;">
      <a href="http://en.wikipedia.org/wiki/Oakland,_California">OAKLAND</a>
    </div>
    <div class="col-md-5">
      <h3>Oaklandish</h3>

      <div style="border-style: solid; border-color: #000; padding: 10px;">
        <p>Housing activism info in beautiful Oakland.</p>
      </div>
    </div>
  </div>
  <hr>
  <!-- Column 1 -->
  <div class="col-md-3">
    <h3>Under Construction</h3>

    <p>Just like Oakland.</p>
  </div>
  <!-- end column 1 -->
  <!-- column 2 -->
  <div class="col-md-6">
    <img src="../images/oakland.jpg" alt="Oakland Yes!.jpg">
  </div>
  <!-- end column 2 -->

  {% include 'pages/pagesnav.html' %}
  </div>
{% endblock content %}
