{% extends 'pages/pagesbasic.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2>
        <a href="http://www.sfbarf.org/">SF Bay Area Renters'
          Federation</a>
      </h2>
    </div>
    <div class="col-md-3" style="font-size: 60px;">
      <a href="http://creativecommons.org/choose/">Imagery</a>
    </div>
    <div class="col-md-5">
      <h3>Pictures and Things</h3>

      <div style="border-style: solid; border-color: #000; padding: 10px;">
        <p>A gallery of housing related imagery and other oddities.</p>
      </div>
      <!-- end purple border -->
    </div>
  </div>
  <hr>
  <!-- nav column-->
  <div class="col-md-4">
    <div class="panel-group" id="nav-top-level">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#nav-top-level"
               href="#collapseOne"> By Region </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul class="list-unstyled">
              <li><a href="../index.html">Home</a></li>
              <li><a href="california.html">Golden State</a></li>
              <li><a href="berkeley.html">Berkeley</a></li>
              <li><a href="balboa_reservoir.html">Balboa Reservoir</a></li>
              <li><a href="oakland.html">Oakland</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#nav-top-level"
               href="#collapseTwo"> Infos </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="list-unstyled">
              <li><a href="videos.html">Videos of Testimony</a></li>
              <li><a href="background.html">Background Reading</a></li>
              <li><a href="http://www.reddit.com/r/SFBARF/wiki/index">Talking
                Points</a>
              </li>
              <li><a href="http://sfdbi.org/housing-unit-production">SF
                Recently Completed (map)</a>
              </li>
              <li><a href="http://www.sfbarf.org/pages/S_B.html">Balboa
                Resevoir</a>
              </li>
              <li><a href="https://sheltered-meadow-6729.herokuapp.com/">Units
                in Limbo</a>
              </li>
            </ul>
            <!-- Inner accordion ends here -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- close nav-->
  <div class="col-md-4">
    <a href="../picture_page_images/16th_m_post_card.png"><img
        src="../picture_page_images/16th_m_post_card_small.png"></a>
  </div>
  <div class="col-md-4">
    <a href="../picture_page_images/75_howard_post_card.png"><img
        src="../picture_page_images/75_howard_post_card_small.png"></a>
  </div>
  <div class="col-md-4">
    <a href="../picture_page_images/max_out_1.png"><img
        src="../picture_page_images/max_out_1_small.png"></a>
  </div>
  <div class="col-md-4">
    <a href="../picture_page_images/monster-housing-1.jpg"> <img
        src="../picture_page_images/monster-housing-1_small.jpg"></a>
  </div>
  <div class="col-md-4">
    <a href="../picture_page_images/monster-housing-2.jpg"><img
        src="../picture_page_images/monster-housing-2_small.jpg"></a>
  </div>
  <div class="col-md-4">
    <a href="../picture_page_images/monster_mission.png"><img
        src="../picture_page_images/monster_mission_small.png"></a>
  </div>
  <div class="col-md-4">
    <a href="../picture_page_images/no1party.png"><img
        src="../picture_page_images/no1party_small.png"></a>
  </div>
  {% include 'pages/pagesnav.html' %}
</div>
{% endblock content %}
